h1,h2, #progress, #time, #score {
    text-align: center;
    color: #2224c2;
    font-size: 50px;
}

#start-game, #end-game {
    text-align: center;
    font-size: 30px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 10%;
    font-size: xx-large;
    /*roundup corners*/
    border-radius: 12px;
}

#question{
    text-align: center;
    font-size: 12em;
}

/* make all buttons in button-group appear in one line */
#button-group button{
    display: inline-block;
}